.featured {
    
    &__subtitle {
        margin: 0;
        color: white;
        font-size: 18px;
        padding: 25px 70px;
        position: relative;

        img {
            margin-left: 16px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__vector-next {
        cursor: pointer;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: grid;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgba(0,0,0,0.5);
            transition: all 0.5s ease;
        }
    }

    &__wrap {
     overflow: hidden;
        &:hover {
            .featured__card {
                transform: scale(1.1);
            }
            .featured__container-info {
                transform: translate(0,-30px);
            }
            .featured__label {
                opacity: 1;
            }
        }
    }

    &__card {
        background-image: url(./assets/target1.png);
        width: 418px;
        height: 736px;
        background-position: center;
        transition: all 0.5s ease;
    }

    &__card--2 {
        background-image: url(./assets/target2.png);
    }

    &__card--3 {
        background-image: url(./assets/target3.png);
    }

    &__container-info {
        position: relative;
        left: 36px;
        top: 561px;
        transition: all .5s ease;
    }

    &__label {
        position: absolute;
        bottom: 45px;
        left: 36px;
        color: white;
        font-weight: 300;
        font-size: 18px;
        opacity: 0;
        transition: all .5s ease;
        img {
            margin-left: 25px;
            vertical-align: middle;
        }
    }

    &__category {
        color: $aqua;
        background-color: rgba(0,0,0,0.6);
        padding: 4px 8px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 14px;
    }

    &__stars {
        margin: 17px 0;
    }
    &__movie-name {
        color: white;
        font-size: 32px;
        margin: 16px 0;
        width: 244px;
    }

    &__vector-next {
        position: absolute;
        right: 17px;
        top: 328px;
        z-index: 999;
        &:hover {
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
        }
    }
}